#!/usr/bin/env bash

# Start the screensaver/screen locker
xautolock -time 5 -locker "/bin/i3lock" -detectsleep -secure -corners 0-00 -cornerdelay 3 -cornerredelay 20 &

# Script that will automatically change the background image
background.sh -l &

# Start udiskie for simpler USB storage device mounting
udiskie -t &
